<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
	<appSettings>

    <!--Software license expires 20261201 -->
    <add key = "LicenseCode" value = "HRQbDh0IaGxraGpr" />
    
    
    <!-- Yes/No -->
		<add key="freezeScreen" value="No" />
    <add key="prepareReferenceData" value="No" />
    <add key="debug" value="No" />
    <add key="computeMean" value="Yes" />
    <add key="stopAtAlarmMessage" value="No" />
    <add key="SendEmails" value="No" />
    <add key="AlarmVersion" value="Yes" />
    <add key="DeleteMissingValues" value="Yes" />
    <add key="includeCoping" value="Yes" />
    <add key="recordHistoricData" value="No" />
    <add key="includeMissingTargets" value="Yes" /><!-- in SMS alarm message -->
    <add key="LatestValueOnly" value="No" />
    <add key="IssueDailyAlarmStatusSummary" value="Yes" />

    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\_FirstAccess\__SoftwareTest\RailGeometryReport\Dromod\" />
    <add key="ExcelFile1" value="Dromod_TGR_master_20260803.xlsx" />
    <add key="ExcelFile" value="Dromod_TGR_master_ALARMTEST.xlsx" />
    
    
    <add key="WorkbookPassword" value="2026" />

    <!-- Excel Worksheets-->
    <add key="ReferenceWorksheet" value="Reference" />
    <add key="SurveyWorksheet" value="Survey" />
    <add key="CalibrationWorksheet" value="Calibration check" />
    <add key="TrackGeometryWorksheet" value="TrackGeometry" />
    <add key="HistoricTopWorksheet" value="HistoricTop" />
    <add key="HistoricdHWorksheet" value="HistoricdH" />
    <add key="HistoricCantWorksheet" value="HistoricCant" />
    <add key="HistoricTwistWorksheet" value="HistoricTwist" />
    <add key="HistoricLongTwistWorksheet" value="HistoricLongTwist" />
    <add key="HistoricCopingWorksheet" value="HistoricCoping" />
    <add key="HistoricSlewWorksheet" value="HistoricSlew" />
    <add key="AlarmsWorksheet" value="Alarms" />
    <add key="CopingWorksheet" value="Coping" />
    
    
    <add key="FirstDataRow" value="2" />
    <!-- First row of data in the Reference worksheet -->
    <add key="FirstDataCol" value="6" />
    <!-- Column which will contain the dE in the Reference worksheet -->
    <add key="FirstOutputRow" value="7" />
    <!-- First row of data in the Calibration worksheet -->
    <add key="FirstTrackRow" value="8" />
    <!-- First data row of the Track and alarm Worksheets -->


    <!-- Reference Line Terminals -->
    <!-- Ya,Xa,Yb,Xb Line: A01 - A10 -->
    <add key="ReferenceLineTerminalsEaNaEbNb" value="605442.782,790044.688,605485.841,789963.858" />
    
   
    <!-- Scheduler -->
    <add key="TimeBlockType" value="Manual" /><!-- Manual, Schedule, Historic -->
    <add key="manualBlockStart" value="'2026-08-03 00:00'" />
    <add key="manualBlockEnd" value="'2026-08-03 12:00'" />
    <add key="BlockSizeHrs" value="24" /><!-- For reference data, BlockSizeHrs must be large, for rest: it must match the report time interval  -->
    
    <!-- United Kingdom & Ireland -->
    <add key="TimeZoneId1" value="GMT Standard Time" />
    <!-- Germany -->
    <add key="TimeZoneId" value="W. Europe Standard Time" />
    <!-- Perth Australia -->
    <add key="TimeZoneId3" value="W. Australia Standard Time" />
    
    
    

    <!-- Project settings -->
    <add key="ReportSpec" value="Track Geometry" />
    <add key="ProjectTitle" value="Dromod" />
    <add key="ContractTitle" value="Dromod" />
    <add key="Client" value="Irish Rail" />
    <!-- Options: SPN010 / CIV177 / Generic -->
    <add key="ReportType" value="SPN010" />
    
		<!-- Folders -->
		<add key="SystemLogsFolder" value="C:\__SystemLogs\Test\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\Test\" />
    <add key="SystemCredentialsFolder" value="C:\__SystemCredentials\" />

    <!-- SMS settings -->
    <add key="SMSTitle" value="Test" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="RedPhone2" value="+447729481504" /><!-- JAGUK -->
    <add key="RecipientPhone2" value="+353876509137" /><!-- Rob -->

    
    <!-- Email settings GNA-->
    <add key="IsBodyHtml" value="No" />
    <!-- Email transmission scheduling -->
    <add key="EmailTransmissionDays" value="All" />
    <!-- Options: All / Monday / Tuesday / Wednesday / Thursday / Friday / Saturday / Sunday / comma-separated combinations such as Monday,Wednesday,Friday / abbreviations accepted by code such as Mon, Wed, Fri -->
    <add key="EmailTransmissionTime" value="18:00" />
    <!-- Options: Now / HHhmm / HH:mm   Examples: 04h00;08:00;12h00 -->
    
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

    <add key="EmailRecipients" value="gnajag2025@gmail.com" />
    <add key="EmailRecipients1" value="gnajag2025@gmail.com, robmerry@techsol.ie" />
    
	</appSettings>

</configuration>