<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DBconnectionString"
         connectionString="Server=LAPTOP-ASPIRE5\SQLEXPRESS;
         Database=T4DDBMonitoring;
         Trusted_Connection=True;
         TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
	<appSettings>

    <!--Software license expires 20261201 -->
    <add key = "LicenseCode" value = "HRQbDh0IaGxraGpr" />
    
    
    <!-- Yes/No -->
		<add key="freezeScreen" value="No" />
    <add key="debug" value="No" />
    <add key="computeMean" value="Yes" />
    <add key="stopAtAlarmMessage" value="Yes" />
    <add key="SendEmails" value="No" />
    <add key="AlarmVersion" value="Yes" />
    <add key="DeleteMissingValues" value="Yes" />
    <add key="AlarmNotifications" value="No" />
    <add key="recordHistoricData" value="No" />
    <add key="includeHistoricTwist" value="Yes" />
    <add key="includeHistoricSettlement" value="Yes" />
    <add key="includeHistoricTop" value="Yes" />
    <add key="includeMissingTargets" value="Yes" /><!-- in SMS alarm message -->
    <add key="LatestValueOnly" value="Yes" />
    <add key="prepareReferenceData" value="Yes" />
    <add key="computeMean" value="Yes" />
    


    <!-- Excel workbook settings -->
    <add key="ExcelPath" value="C:\_FirstAccess\__SoftwareTest\Rail Geometry\" />
    <add key="ExcelFile" value="TrackGeometry_1.xlsx" />
    <add key="WorkbookPassword" value="2026" />
    
    <!-- Scheduler -->
    <add key="TimeBlockType" value="Manual" /><!-- Manual, Schedule -->
    <add key="manualBlockStart" value="'2025-10-24 00:00'" />
    <add key="manualBlockEnd" value="'2025-10-24 23:59'" />
    <add key="BlockSizeHrs" value="24" /><!-- For reference data, BlockSizeHrs must be large, for rest: it must match the report time interval  -->
   

    <!-- Project settings -->
    <add key="ReportSpec" value="Track Geometry" />
    <add key="ProjectTitle" value="Drogheda_North" />
    <add key="ContractTitle" value="Iarnrod Eireann" />
    <add key="Client" value="Iarnrod Eireann" />
    <add key="ReportType" value="Generic Format TGR" />
    
		<!-- Folders -->
		<add key="SystemStatusFolder" value="C:\__SystemLogs\" />
    <add key="SystemAlarmFolder" value="C:\__SystemAlarms\" />

		<!-- Excel Worksheets-->
		<add key="ReferenceWorksheet" value="Reference" /><!-- SPN010 -->
		<add key="SurveyWorksheet" value="Survey" /><!-- SPN010 -->
		<add key="CalibrationWorksheet" value="Calibration check" />
    <add key="TrackGeometryWorksheet" value="TrackGeometry" />
    <add key="HistoricTopWorksheet" value="HistoricTop" />
    <add key="HistoricTwistWorksheet" value="HistoricTwist" />
    <add key="AlarmsWorksheet" value="Alarms" />
    
    
		<!-- Tracks -->
		<add key="Track1" value="Up" />
		<add key="Track2" value="Down" />


		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference fudgeTarget -->
		<add key="FirstDataCol" value="6" /><!-- Column which will contain the dE in the Reference fudgeTarget -->
		<add key="FirstOutputRow" value="7" /><!-- First row of data in the Calibration fudgeTargets -->
    <add key="FirstTrackRow" value="8" /><!-- First data row of the Track and alarm Worksheets -->


    <!-- SMS settings -->
    <add key="SMSTitle" value="Drogheda" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- JAGDE -->
    <add key="RecipientPhone2" value="+447729481504" /><!-- JAGUK -->
    <add key="RecipientPhone3" value="+353876509137" /><!-- Rob -->

    
    <!-- Email settings GNA-->
    <add key="sendEmails" value="Yes" />
    <!-- Email message content -->
    <add key="IsBodyHtml" value="No" />
    <!-- Options: Yes / No -->
    <!-- Email transmission scheduling -->
    <add key="EmailTransmissionDays" value="Sat" />
    <!-- Options: All / Monday / Tuesday / Wednesday / Thursday / Friday / Saturday / Sunday / comma-separated combinations such as Monday,Wednesday,Friday / abbreviations accepted by code such as Mon, Wed, Fri -->
    <add key="EmailTransmissionTime" value="15h58" />
    <!-- Options: Now / HHhmm / HH:mm   Examples: 04h00 / 04:00 -->
    
    <add key="EmailFrom" value="gnasoftwareteam@gmail.com" />
    <add key="EmailLogin" value="gnasoftwareteam@gmail.com" />
    <add key="EmailPassword" value="dxdganvkkxjsqsde" />
    <add key="EmailRecipients" value="gnajag2025@gmail.com" />


    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

	</appSettings>

</configuration>